<div class="product-list-page">
  <div class="page container">
    <app-filter-products
      (onChangeProductTitle)="getProductTitle($event)"
    ></app-filter-products>

    <app-loader [loading]="loading"></app-loader>

    <ng-container *ngIf="productsService.products">
      <app-product
        *ngFor="
          let product of productsService.products
            | filterProducts : productTitle;
          let i = index
        "
        [product]="product"
      ></app-product>
    </ng-container>
  </div>
</div>
