<div class="product">
  <img [src]="product.image" [alt]="product.title" class="product__img" />
  <h2 class="mb-2 text-md text-center">{{ product.title }}</h2>
  <p>
    Price: <span class="font-bold">{{ product.price | currency : "€" }}</span>
  </p>
  <button
    class="border py-2 px-4 rounded bg-yellow-400"
    (click)="details = !details"
    [ngClass]="{
      'bg-yellow-400': !details,
      'bg-blue-400': details
    }"
  >
    {{ details ? "Hide" : "Show" }} Details
  </button>
  <div *ngIf="details">
    <p>{{ product.description }}</p>
    <p>
      Rate:
      <span
        class="font-bold"
        [ngClass]="{
          'text-red-600': product.rating.rate < 3,
          'text-orange-400':
            product.rating.rate < 4 && product.rating.rate >= 3,
          'text-yellow-400':
            product.rating.rate < 4.5 && product.rating.rate >= 4,
          'text-green-400': product.rating.rate >= 4.5
        }"
        >{{ product.rating.rate | number: '1.2-4' }}</span
      >
    </p>
  </div>
</div>
