<div class="product-management-page">
  <div class="container">
    <app-filter-products
      (onChangeProductTitle)="getProductTitle($event)"
    ></app-filter-products>

    <div class="product-management-page__buttons-management">
      <button
        class="button button_green"
        (click)="openCreateProductModal(createProduct)"
      >
        Create product
      </button>

      <button
        class="button button_red"
        (click)="openDeleteProductModal(deleteProduct)"
      >
        Delete product
      </button>
    </div>

    <app-loader [loading]="loading"></app-loader>

    <ng-container *ngIf="productsService.products">
      <app-product
        *ngFor="
          let product of productsService.products
            | filterProducts : productTitle;
          let i = index
        "
        [product]="product"
      ></app-product>
    </ng-container>

    <ng-template #createProduct>
      <app-create-product></app-create-product>
    </ng-template>

    <ng-template #deleteProduct>
      <app-delete-product></app-delete-product>
    </ng-template>
  </div>
</div>
