.loader {
  width: 68px;
  height: 68px;
  border: 8px solid #e8e1e1;
  border-left: 8px solid #757171;
  border-radius: 50%;
  animation-name: animate-loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @keyframes animate-loading {
    100% {
      transform: rotate(360deg);
    }
  }

  @apply m-auto;
}

